/node_modules
/public/hot
/public/storage
/public/app
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
composer.lock
package-lock.json
/public/js/index.js
storage/app/
/public/nemc_files/
public/assets/
public/vendor/
/public/adminer.sql
/nbproject
